<div class="search-results">
    <div class="side-bar">
        <h3>Filter Buy</h3>
        <ul class="filter">
            {{#each filters}}
            {{> ../../templates/filter.hbs category=this}}

            {{/each}}
        </ul>

    </div>
    <div class="search-content">
        {{> ../../templates/searchList.hbs products=products }}
    </div>
</div>